/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
	font-family: 'Work Sans', sans-serif;
}
/* Shared styles */
.text-description{
	color: #727272;

}
.btn-primary{
	color: #FFF;
	border: none;
	border-radius: 8px;
    background: #FF900E;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 20px 25px;
	cursor: pointer;
	
}
/* Header styles */
header{
	background: rgba(255, 144, 14, 0.10);
	padding: 50px 130px;
}
nav{
	display: flex;
    justify-content: space-between;
	align-items: center;
}
.nav-title{
	color: #131313;
	font-size: 3rem;
	font-weight: 700;
}
nav > ul{
	display: flex;
}
nav li{
	list-style: none;
	margin-left: 40px;
}
nav li a{
	text-decoration: none;
	font-weight: 500;
	font-size: 1rem;
	color: #424242;
}
.banner-content{
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}
.banner-title{
	color: #131313;
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 0px;
}
.banner img{
	width: 100%;
	margin-top: 50px;
}
/* main style */
main{
	max-width: 1440px;
	margin: 90px auto;
}
/* features collages styles */ 
.features-collages{
	display: flex;
	align-items: center;

}
.collages-img{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
}
.features-collages-description{
	padding-left: 70px;
	padding-right: 90px;
}
.quick-list{
	color: #727272;
	font-size: 3rem;
	font-weight: 500;
}
.of-our{
	color: #131313;
	font-size: 3rem;
	font-weight: 700;
}
.our-fretures{
	color: #FF900E;
	font-size: 3rem;
	font-weight: 700;
}
/* features styles */
.features-container{
	display: flex;
	margin-top: 100px;
	gap: 100px;
}
.features-content-title{
	color: #131313;
	font-size: 3rem;
    font-weight: 700;
	margin-bottom: 0px;
	border-left: 5px solid #FF900E; 
	padding-left: 20px;
}
.features{
	padding: 30px;
	margin-bottom: 20px;
	border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-img img{
	height: 90%;
	margin-left: 90px;
}
.ten-years-badge{
	width: 342px;
	border-radius: 8px;
    background: #FF900E;
	text-align: center;
	margin: 0px;
	padding: 45px 0px;
	position: relative;
	bottom: 130px;
}
.ten-years-badge h2{
	margin: 0px;
}
.badge-title{
	color: #FFF;
    font-size: 4rem;
    font-weight: 700;
}
.experience{
	color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
	margin:0px;
}
/* Facts styles */
.facts-section{
	margin-top: 100px;
}
.facts-container{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.facts-container .facts{
	border-radius: 8px;
    border: 1px solid #FF900E;
	width: 241.831px;
    height: 220px;
	align-items: center;
	margin: 70px 0px;
    padding-top: 50px;	
}
.facts-count{
	color: #424242;
    font-size: 3rem;
    font-weight: 600;
	margin-top: 10px;
	margin-bottom: 0px;
}
/* sponsors styles */
.sponsors{
	margin-top: 100px;
}
.sponsors-container{
	text-align: center;
	width: 542px;
	margin: 0px auto;
}
.sponsors-img-container{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-top: 50px;
	gap: 100px;
}
/* footer */
footer{
    max-width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
	margin: 200px auto;
	text-align: center;
}
.footer-description{	
padding-top: 30px;
    border-radius: 8px;
    background: #FFF4E7;
	margin: 200px auto;
	text-align: center;
	width:100%;
}




/* Media Query */
@media screen and (max-width: 576px){
	header{
		padding: 20px;
	}
	nav,
	.features-collages,
	.features-container,
	.facts-container{
	flex-direction: column;
	}
	.facts-container{
	align-items: center;
	}

	.collages-img,
	.sponsors-img-container{
	grid-template-columns: 1fr;
	justify-items: center;
	}
	.features-container{	
	gap: 0px;
	margin: 0px auto;
	}
	.features-img img{
	width: 100%;
}
.ten-years-badge{
	position: static;
	max-width: 300px;
}
.sponsors-container{
	max-width: 300px;
}
footer{
	margin: 0px;
}
}
@media screen and (min-width: 576px) and (max-width: 990px){
	header{
		padding: 40px;
	}
	nav,
	.features-collages,
	.features-container,
	.facts-container{
	flex-direction: column;
	}
	.facts-container{
		align-items: center;
	}

	.collages-img,
	.sponsors-img-container{
	grid-template-columns: 1fr;
	justify-items: center;
	}
.features-container{
	gap: 0px;
}
.features-img img{
	width: 100%;
}
footer{
	margin-right: 0px;
	width: 100%;
}
	
}